@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic');

.carousel{
    position: relative;
    z-index: 10;
}

.carousel_div{
position: relative;
width: 70%;
max-width: 500px;
padding-top: 15px;
margin-left: auto;
margin-right: auto;
}
.imagen_container{
color: aliceblue;
}
.imagen{
    background-position: center;
    background-size: cover;
}
.hoy{
    position: absolute;
    color: rgb(95, 95, 95);
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.2);
    top: -26px;
    right: 43%;
    font-family: 'EB Garamond', serif;
    font-size: 2.6em;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: oblique;
    letter-spacing: 0.1em;
    line-height: 1em;
}

.dia{
    position: absolute;
    color: rgb(95, 95, 95);
    text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.2);
    top: -80px;
    right: 40%;
    font-family: 'Cardo', serif;
    font-size: 2.2em;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    letter-spacing: 0.1em;
    line-height: 2.2em;
  }