@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.hidden{
    display: none;
}
.container{
    background: rgba(172, 172, 172, 0.55);
    margin: 5px;
    padding: 10px;
    margin-bottom: 0px;
}